<html>
<head>
    <meta charset="UTF-8">
    <title>To-Do Lists</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<div class="todo-content">
    <h1 class="page-title">To-Do Lists</h1>
    <div class="todo-create">
        <form action="#">
            <input type="text" id="listNameTextField" class="form-control" onkeypress="handleEnterKey(event)"
                   placeholder="Input new List Name then tap Enter to add">
        </form>
    </div>

    <ul class="todo-list"></ul>
</div>

<script>
    $(document).ready(function() {
        loadLists();
    });
</script>
</body>
</html>
