<html>
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Outlined">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/todo-items.js"></script>
</head>
<body>
<div class="todo-content">
    <button onclick="window.location.href='/'">Back to Main Page</button>
    <h1 class="page-title">To-Do List</h1>
    <div id="todo-list-name" class="todo-list-name"></div>
    <div class="todo-create">
        <form action="#">
            <input type="text" id="taskNameTextField" class="form-control" onkeypress="handleEnterKey(event)"
                   placeholder="Input new Task Name then tap Enter to add">
        </form>
    </div>

    <ul class="todo-list"></ul>
</div>

<script>
    let glistId;
    $(document).ready(function() {
        const urlParams = new URLSearchParams(window.location.search);
        const listId = urlParams.get('listId');
        glistId = listId;
        loadListName(listId);
        loadItems(listId);
    });
</script>
</body>
</html>
